{{> head}}

{{> navbar}}
<div class="container mt-5">
    <h3 class="text-center mb-3">About</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere at rem quidem dicta deleniti iusto blanditiis
        commodi repellat numquam hic nisi ipsa repudiandae id laborum eum, reiciendis corrupti adipisci maiores.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere at rem quidem dicta deleniti iusto blanditiis
        commodi repellat numquam hic nisi ipsa repudiandae id laborum eum, reiciendis corrupti adipisci maiores.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere at rem quidem dicta deleniti iusto blanditiis
        commodi repellat numquam hic nisi ipsa repudiandae id laborum eum, reiciendis corrupti adipisci maiores.
    </p>
</div>
{{> footer}}